<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>The Ultimate Program</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
    <header>
        <div class="title">The Ultimate Program</div>
        <div class="sub-title">[Guaranteed to ward off the sorcerer]</div>
        <div id="credit">Created by <b>Johan Adi Wiguna</b></div>
    </header>

    <div class="instruction">Enter 2 death villagers data below!</div>

    <form id="villager-form" action="/" method="post">
        <div class="villager-container">
            <div id="villager-data-a" class="villager-data">
                <h3>Villager A</h3>
                <label for="a-age-of-death">Age of Death:</label>
                <input type="number" id="a-age-of-death" name="ageOfDeathA" th:value="${ageOfDeathA}" min="1" max="150" required>
                <br>
                <label for="a-year-of-death">Year of Death:</label>
                <input type="number" id="a-year-of-death" name="yearOfDeathA" th:value="${yearOfDeathA}" min="1" required>
                <br>
            </div>
            
            <div id="villager-data-b" class="villager-data">
                <h3>Villager B</h3>
                <label for="b-age-of-death">Age of Death:</label>
                <input type="number" id="b-age-of-death" name="ageOfDeathB" th:value="${ageOfDeathB}" min="1" max="150" required>
                <br>
                <label for="b-year-of-death">Year of Death:</label>
                <input type="number" id="b-year-of-death" name="yearOfDeathB" th:value="${yearOfDeathB}" min="1" required>
                <br>
            </div>
        </div>

        <button class="btn-dark" type="submit">Calculate Average</button>
    </form>

    <th:block th:if="${result != null}">
        <div class="result-container">
            <th:block th:if="${!isError}">
                <p th:text="'Average number of victims died between year ' + ${yearOfBirthA} + ' and ' + ${yearOfBirthB}"></p>
            </th:block>
            <th:block th:unless="${!isError}">
                <p id="error-message" th:text="'Error: ' + ${errorMessage}"></p>
            </th:block>
            
            <div id="result" th:text="${result}"></div>
        </div>
    </th:block>
</body>
</html>